[*.cs]

# CS8604: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = silent

# CS8629: Nullable value type may be null.
dotnet_diagnostic.CS8629.severity = silent

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = silent

# IDE0021: Use block body for constructor
dotnet_diagnostic.IDE0021.severity = silent

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = silent

# CS8618: Non-nullable field must contain a non-null value when exiting constructor. Consider declaring as nullable.
dotnet_diagnostic.CS8618.severity = silent

# CS0108: Member hides inherited member; missing new keyword
dotnet_diagnostic.CS0108.severity = silent
